# https://pytorch.org/get-started/previous-versions/#v1131
# pip install torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu117
-f https://download.pytorch.org/whl/torch_stable.htmltorch==1.13.1
torchvision==0.14.1+cu117
matplotlib==3.7.1

